@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    <div></div>
    <p>Hello, would you like to add a swimmer to the database?</p>
    <button type="submit" class="btn btn-block btn-primary">Submit</button>
}